* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body,
div#root {
  min-width: inherit;
  min-height: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

@keyframes translateMotion {
  from {
    transform: translateX(75%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
